<%- include('../layout/header.ejs') -%>

    <section class="row">
        <div class="col-md-3 col-lg-3"></div>
        <div class="col-md-6 col-sm-7 col-lg-6">
            <div>
                    <p style="">
                        Welcome to BAAGY, where fashion meets functionality and sustainability! We are not just an e-commerce
                    website; we are the embodiment of a vision – a vision that marries style, quality, and eco-consciousness. Our passion
                    lies in curating a collection of bags that seamlessly blend into diverse lifestyles, offering a touch of elegance to
                    every moment.</p>
                    
                    <p>At BAAGY, we believe that every bag tells a story. Our bags are more than just accessories; they are a
                    statement of your unique style and values. Crafted with precision and love, our bags are a testament to our unwavering
                    commitment to quality. We source only the finest, eco-friendly materials, ensuring that each bag not only complements
                    your fashion sense but also leaves a minimal environmental footprint.</p>
                    
                    <p>
                        What truly sets us apart is our dedication to supporting local artisans and promoting sustainable fashion. Our bags are
                        handcrafted by skilled artisans, preserving traditional craftsmanship while ensuring fair wages and ethical practices.
                        We take pride in contributing to local communities and preserving age-old techniques.
                    </p>
                    
                    <p>
                        Our mission extends beyond just providing you with a stylish accessory; it's about creating a conscious choice. We aim
                        to empower you to make fashion choices that align with a sustainable and eco-friendly lifestyle. When you shop with us,
                        you're not just buying a bag; you're making a statement that you care about the planet and the people behind the
                        products.
                    </p>
                    
                    <p>
                        At BAAGY, we're not just about bags; we're about a seamless shopping experience. Our user-friendly website
                        is designed to make your online shopping journey effortless and enjoyable. We value your trust and are committed to
                        exceptional customer service. Our dedicated team is always here to assist you in finding the perfect bag for your needs
                        and ensuring your satisfaction.
                    </p>
                    
                    <p>
                        Thank you for joining us on this journey towards fashion with a purpose. We invite you to explore our collection, make a
                        conscious choice, and be a part of the BAAGY community. Together, we can redefine fashion, one sustainable
                        bag at a time. Welcome to a world where style meets substance, and where your choices make a difference.</p>
                    </p>
                </div>
            </div>
        </div>

    </section>

    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery.nicescroll.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>

    <!-- curosal js -->
    <%-include('../layout/footer.ejs')-%>