<%- include('../layout/header.ejs') -%>
    <!-- Shop Section Begin -->
    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">

                <div class="col-md-3"></div>
                <div class="col-md-6 col-sm-12">
                    <div class="">
                        <div>
                            <div class="text-center"><p class="bg-light p-3" style="color: black; font-weight: bold; font-size: 18px; margin-top: 20px; border-radius: 10px;">Add a New
                                Address</p></div>
                            <div class="p-3"
                                style="margin-top: 1.5rem; background-color: rgb(255, 255, 255); box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; border-radius: 12px;">
                                <form action="newaddress" method="post">
                                    <div class="form-group pt-3">
                                        <input type="text" name="name" class="form-control" id="name"
                                            placeholder="Full Name" onchange="validatename()">
                                        <span class="span-text" id="nameError" style="color: #db1d1d"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="mobile" class="form-control" id="mobile"
                                            placeholder="Mobile number" onchange="validatename()">
                                        <span class="span-text" id="nameError" style="color: #db1d1d"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="address" class="form-control" id="address"
                                            placeholder="Address" onchange="validatename()">
                                        <span class="span-text" id="nameError" style="color: #db1d1d"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="locality" class="form-control" id="location"
                                            placeholder="Locality/Town" onchange="validatename()">
                                        <span class="span-text" id="nameError" style="color: #db1d1d"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="number" name="pincode" class="form-control" id="pincode"
                                            placeholder="Pincode" onchange="validatename()">
                                        <span class="span-text" id="nameError" style="color: #db1d1d"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="district" class="form-control" id="district"
                                            placeholder="District" onchange="validatename()">
                                        <span class="span-text" id="nameError" style="color: #db1d1d"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="state" class="form-control" id="state"
                                            placeholder="State" onchange="validatename()">
                                        <span class="span-text" id="nameError" style="color: #db1d1d"></span>
                                    </div>
                                    <div class="text-center m-3">
                                            <button type="submit" id="submitButton" class="btn btn-warning mx-auto w-75"
                                                onclick="return validateForm()">Add address</button>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->

<%-include('../layout/footer.ejs')-%>

    <!-- Include Bootstrap and jQuery libraries here -->
    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery.nicescroll.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>