<%- include('../layout/header.ejs') -%>

    <!-- Shop Section Begin -->
    <section style="background-color: #eee;">
        <div class="container py-5">
          <div class="row">
            <div class="col">
              <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                <ol class="breadcrumb mb-0">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item"><a href="/profile">User Profile</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                </ol>
              </nav>
              <%if(status !=='undefined') {%>
                <h5 class="text-center text-dark"><%= message %></h5>
            <%}%>
            </div>
          </div>
      
          <div class="row">
            <div class="col-lg-4">
              <!-- <div class="card mb-4">
                <div class="card-body text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px;">
                  <h5 class="my-3">John Smith</h5>
                  <p class="text-muted mb-1">Full Stack Developer</p>
                  <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
                  <div class="d-flex justify-content-center mb-2">
                    <button type="button" class="btn btn-primary">Follow</button>
                    <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                  </div>
                </div>
              </div> -->
              <div class="card mb-4 mb-lg-0">
                <div class="card-body p-0">
                  <ul class="list-group list-group-flush rounded-3">
                    <a href="/profile"><li class="list-group-item d-flex justify-content-between align-items-center p-3">
                        <i class="fa fa-tachometer fa-lg text-warning"></i>
                        <p class="mb-0">Dashboard</p>
                      </li></a>
                      <a href="/editprofile"><li class="list-group-item d-flex justify-content-between align-items-center p-3">
                        <i class="fa fa-pencil fa-lg text-danger" style="color: #333333;"></i>
                        <p class="mb-0">Edit Profile</p>
                      </li></a>
                    <li class="active list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fa fa-key fa-lg" style="color: #55acee;"></i>
                      <p class="mb-0">Change password</p>
                    </li>
                    <a href="/address"><li class="list-group-item d-flex justify-content-between align-items-center p-3">
                        <i class="fa fa-address-card-o fa-lg" style="color: #ac2bac;"></i>
                        <p class="mb-0">Address</p>
                      </li></a>
                    <a href="/orders"><li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fa fa-credit-card-alt fa-lg" style="color: #3b5998;"></i>
                      <p class="mb-0">Order</p>
                    </li>
                  <a href="/wallet">
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fa-solid fa-wallet fa-lg" style="color: #3b5998;"></i>
                      <p class="mb-0">Wallet Balance : ₹ <%= user.wallet %>
                      </p>
                    </li>
                  </a></a>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="card mb-4">
                <form action="passupdate" method="post">
                    <div class="card-body">
                        <div class="row">
                          <div class="col-sm-3">
                            <p class="mb-0">Old Password</p>
                          </div>
                          <div class="col-sm-9">
                            <input style="border: 0px;" type="password" name="oldpass" class="form-control" id="oldpass">
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-3">
                            <p class="mb-0">New Password</p>
                          </div>
                          <div class="col-sm-9">
                            <input style="border: 0 !important; outline: white" type="password" name="newpass" class="form-control" id="newpass">
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                              <p class="mb-0">Confirm Password</p>
                            </div>
                            <div class="col-sm-9">
                              <input style="border: 0 !important; outline: white" type="password" name="confirmpass" class="form-control" id="confirmpass">
                              <span class="span-text" id="passError" style="color: #db1d1d"></span>
                            </div>
                          </div>
                          <hr>
                        <div class="row justify-content-center">
                          <div class="col-sm-9 text-center">
                            <span class="span-text" id="submit-error" style="color: #db1d1d"></span>
                            <button type="submit" id="submitButton" class="btn btn-warning" onclick="return validateForm()" >SUBMIT</button>
                          </div>
                        </div>
                      </div>
                </form>
              </div>
              <div class="row">
              <!--  -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <%console.log(user[0]._id)%>
    <!-- Shop Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <!-- <a href="#"><img src="img/footer-logo.png" alt=""></a> -->
                        </div>
                        <p>The customer is at the heart of our unique business model, which
                            includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales &
                                promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    
    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Include Bootstrap and jQuery libraries here -->
    <script>
        var passError = document.getElementById("passError");
        var submitError = document.getElementById("submit-error");
        function validatepass() {
var password1 = document.getElementById("newpass").value;
var password2 = document.getElementById("confirmpass").value;
var alphabetRegex = /[a-zA-Z]/;
if (!password1) {
passError.innerHTML = "Password is required";
return false;
}

if (!alphabetRegex.test(password1)) {
passError.innerHTML = "Password should contain at least one alphabet";
return false;
}

if (password1.length < 6) {
passError.innerHTML = "Password should be at least 6 characters long";
return false;
}

if(password1!==password2){
passError.innerHTML="Passwords not matching"
return false;
}

passError.innerHTML = "";
return true;
}
function validateForm() {
if (!validatepass()) {
submitError.style.display = "block";
submitError.innerHTML = "Please fill the form correctly";
setTimeout(function () {
  submitError.style.display = "none";
}, 3000);
return false;
}
return true;
}
        </script>
    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery.nicescroll.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>