<%- include('../layout/header.ejs') -%>
<div class="signup">
    <h2 style="text-align:center;">Sign Up</h2>
    <p style="text-align:center;">Please fill this form to create an account.</p>
    <%if(status !=='undefined' ) {%>
      <h5 class="text-center text-danger">
        <%= message %>
      </h5>
      <%}%>
    <form action="signup" method="post">
        <div class="form-group">
            <input type="text" name="fname" class="form-control" id="name1" placeholder="First name" onchange="validatefname()">
            <span class="span-text" id="fnameError" style="color: #db1d1d"></span>
        </div>
        <div class="form-group">
          <input type="text" name="lname" class="form-control" id="name2" placeholder="Last name"
            onchange="validatelname()">
          <span class="span-text" id="lnameError" style="color: #db1d1d"></span>
        </div>
        <div class="form-group">
       <input class="form-control" name="email" id="email1" placeholder="Your Email"  onchange="validateEmail()">
       <span class="span-text" id="emailError" style="color: #db1d1d"></span>
        </div> 
        <div class="form-group">
          <input type="text" name="mobile" id="mobile" class="form-control" placeholder="Mobile number">
          <span class="span-text" id="mobileError" style="color: #db1d1d"></span>
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" id="pass1" placeholder="Enter a Password" onchange="validatepass()">
       <span class="span-text" id="passError1" style="color: #db1d1d"></span>
        </div>
        <div class="form-group">
            <input type="password" name="confirm_password" id="pass2" class="form-control" placeholder="Confirm Password" onchange="validatePasswordMatch()">
            <span class="span-text" id="passError2" style="color: #db1d1d"></span>
        </div>
        <div class="form-group">
            <input type="text" name="refferal" class="form-control" id="refferal" placeholder="Enter a refferal code (optional)">
        </div>
        <div class="d-flex justify-content-between">
            <div><span class="span-text" id="submit-error" style="color: #db1d1d"></span></div>
            <div class="form-group">
                <button type="submit" id="submitButton" class="btn btn-warning" onclick="return validateForm()">Signup</button>
            </div>
        </div>
        <p style="text-align:center" class="signuptext" >Already have an account?<a href="login"> Login here</a>.</p>
    </form>
</div>

    <script src="/js/signupverify.js"></script>
<%- include('../layout/footer.ejs') -%>